{% extends "base.html" %}

{% block content %}
   <div class="container mt-5">

      {% for article in articles %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.content }}</p>

            {% if article.img %}
              <img src="{{ url_for('static', filename=article.img) }}" alt="post Image" class="img-fluid">
            {% else %}
              <p>No image available</p>
            {% endif %}

            <p class="card-text"><strong>Author:</strong> {{ article.author.username }}</p>

            <p>Posted on: {{ article.timestamp.strftime('%Y-%m-%d %H:%M:%S %Z') }}</p>

            {% if current_user == article.author %}
            <a href="{{ url_for('edit_article', product_id=article.id) }}" class="btn btn-primary">Edit</a>

              <form method="POST" action="{{ url_for('delete_article', product_id=article.id) }}" style="display:inline;" onsubmit="return confirmDelete();">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
<h4 align="center"> you can add a blog in upload section</h4>
<html>
  <body style="background-color:#101317;">
       <div class="container mt-5">


        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">მეორე ბლოგი</h5>
            <p class="card-text">ახალ წელს გილოცავთ!!!</p>


              <img src="static/christmas.jpg" alt="post Image" class="img-fluid" width="500" height="500">



            <p class="card-text"><strong>Author:</strong>ბექა</p>

            <p>Posted on:  31/12/2024</p>


          </div>
        </div>
    </div>
    <div class="container mt-5">
      <div class="container mt-5">


        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">პირველი ბლოგი</h5>
            <p class="card-text">ეს არის პირველი ბლოგი</p>


              <img src="static/tbc.png" alt="post Image" class="img-fluid">



            <p class="card-text"><strong>Author:</strong>ბექა</p>

            <p>Posted on:  29/12/2024</p>


          </div>
        </div>
    </div>

  </body>
</html>
{% endblock %}
